<nav class="navbar">
    <div class="logo">
      GastroHub
    </div>

    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Pedidos</a></li>
      <li><a routerLink="/cocinero" routerLinkActive="active">Cocinero</a></li>
      <li><a routerLink="/mesero" routerLinkActive="active">Mesero</a></li>
      <li><a routerLink="/administrador" routerLinkActive="active">Admin</a></li>
      <button routerLink="/login"  class="close-sesion">Cerrar Sesion</button>
    </ul>

</nav>